html,
body,
#app {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Helvetica Neue, Helvetica, Hiragino Sans GB, Microsoft YaHei, \\5FAE\8F6F\96C5\9ED1, Arial, sans-serif;
}

html.dark {
	background: #121212;
}
body {
	background-color: #f2f3f5;
	--w-e-textarea-bg-color: #fff;
	--w-e-toolbar-bg-color: var(--color-fill-1);
	--w-e-textarea-slight-color: rgb(var(--gray-5));
}
body[arco-theme='dark'] {
	background: #29292c;
	color: white;
	/* 富文本编辑器黑暗模式配置 */
	--w-e-textarea-bg-color: var(--color-fill-1);
	--w-e-textarea-color: var(--color-text-1);
	--w-e-textarea-slight-color: rgb(var(--gray-5));
	--w-e-toolbar-color: var(--color-text-1);
	--w-e-toolbar-bg-color: var(--color-neutral-3);
	--w-e-toolbar-active-color: var(--color-text-1);
	--w-e-toolbar-active-bg-color: var(--color-neutral-4);
	--w-e-toolbar-border-color: var(--color-border-2);
}
body::-webkit-scrollbar {
	width: 8px;
	background: var(--color-neutral-3);
}
body::-webkit-scrollbar-thumb {
	background: var(--color-neutral-5);
	border-radius: 4px;
}
#nprogress .bar {
	background: #6777ef !important;
}

/* 优化滚动条 */
.scroll-bar::-webkit-scrollbar {
	width: 4px;
	background: #00000000;
}
.scroll-bar::-webkit-scrollbar-thumb {
	background: #00000000;
	border-radius: 4px;
}
.scroll-bar:hover::-webkit-scrollbar {
	background: var(--color-fill-1);
}
.scroll-bar:hover::-webkit-scrollbar-thumb {
	background: var(--color-fill-4);
}
.regionMask {
	position: absolute;
	background-color: #6777ef;
	width: 100px;
	height: 100px;
	z-index: 999;
	opacity: 0;
}

img {
	-webkit-user-drag: none;
	/* user-drag: none; */
}
